#calendarDate {
    font-weight: bold;
}

#sun {
    color: Red;
}

#sat {
    color: Blue;
}

.xButton{
    border: hidden;
}

.schedule{
    border: 1px solid black;
    background-color: lightgray;
    margin-left: 5%;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 85%;
}

.outputText{
    margin-left: 2px;
    margin-right: 2px;
    width: 70px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 40px;
    border: 1px solid #888;
    width: 20%; /* Could be more or less, depending on screen size */
}

table {
    font-size: 15px;
    border-collapse: collapse;
    text-align: center;
}

th {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    width: 120px;
    height: 120px;
}

td {
    font-style: italic;
    vertical-align: top;
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
    width: 120px;
    height: 120px;
}